<div class="table-responsive text-nowrap">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr *ngFor="let user of pagedUsers">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.role }}</td>
        <td>{{ user.email }}</td>
        <td>
          <button type="submit" class="btn btn-outline-primary m-1" (click)="editUser(user)">Edit</button>
          <button type="submit" class="btn btn-danger" (click)="deleteUser(user.id)">Delete</button>
          <button type="submit" class="btn btn-outline-info" [routerLink]="['/admin/profile',user.id]">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>



<button class="btn btn-light btn-sm m-1" (click)="goToPreviousPage()" [disabled]="currentPage === 1">
  Previous
</button>
{{currentPage}}
<button class="btn btn-light btn-sm m-1" (click)="goToNextPage()" [disabled]="currentPage === totalUsers">
  Next
</button>


<div class="row mt-3">
  <div class="col-md-7">
  <div class="card w-100">
    <div class="card-body p-4">
        <form [formGroup]="userForm" (ngSubmit)="selectedUser? updateUser() : addUser()">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name:</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName">
          </div>
          <div class="alert alert-danger" *ngIf="this.userForm.controls['firstName'].invalid && this.userForm.controls['firstName'].touched">
            <div *ngIf="this.userForm.controls['firstName'].hasError('required')"> First Name is required !</div>
            <div *ngIf="this.userForm.controls['firstName'].hasError('minlength')"> Length must be more then 3 letters ! </div>
            <div *ngIf="this.userForm.controls['firstName'].hasError('pattern')"> First name must consist only of letters ! </div>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name:</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName">
          </div>
          <div class="alert alert-danger" *ngIf="this.userForm.controls['lastName'].invalid && this.userForm.controls['lastName'].touched">
            <div *ngIf="this.userForm.controls['lastName'].hasError('required')"> Last Name is required !</div>
            <div *ngIf="this.userForm.controls['lastName'].hasError('minlength')"> Length must be more then 3 letters ! </div>
            <div *ngIf="this.userForm.controls['lastName'].hasError('pattern')">Last name must consist only of letters ! </div>
          </div>
          <div class="mb-3">
            <label for="role" class="form-label">Role:</label>
            <select id="role" class="form-select" formControlName="role">
              <option value="Admin">Admin</option>
              <option value="HR_manager">HR Manager</option>
              <option value="Project_manager">Project Manager</option>
              <option value="Consultant">Consultant</option>
              <option value="Sales_manager">Sales Manager</option>
              <option value="Employee">Employee</option>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="this.userForm.controls['role'].invalid && this.userForm.controls['role'].touched">
            <div *ngIf="this.userForm.controls['role'].hasError('required')"> Role is required !</div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" id="email" class="form-control" formControlName="email">
          </div>
          <div class="alert alert-danger" *ngIf="this.userForm.controls['email'].invalid && this.userForm.controls['email'].touched">
            <div *ngIf="this.userForm.controls['email'].hasError('required')"> E-mail is required !</div>
          </div>
          <div class="row">
            <div class="col">
              <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">{{selectedUser ? 'Edit' : 'Add'}} User</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-outline-secondary" *ngIf="selectedUser" (click)="cancelUpdate()">Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

