<div class="card">
  <div class="card-body">
    <div>
      <div class="input-group mb-3">
        <input type="text" class="form-control" 
            placeholder="Search" aria-label="Search" [(ngModel)]="search"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                type="button">Search</button>
        </div>
      </div>
      <h5 class="card-header">Expense List</h5>
      <td><button class="btn btn-warning"(click)="tri()">Tri</button></td>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>AMOUNT</th>
            <th>DATE</th>
            <th>CATEGORY</th>
            <th>METHODPAYMENT</th>
            <th>PROJECT</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses">
            <ng-container *ngIf="expense.project.name.includes(search) || search === ''">
              <td>{{expense.amount}}</td>
              <td>{{expense.dateexpense | date}}</td>
              <td>{{expense.category}}</td>
              <td>{{expense.methodPayment}}</td>
              <td>{{expense.project ? expense.project.name : 'N/A'}}</td>
              <td>
                <button type="submit" class="btn btn-outline-success m-1" (click)="editExpense(expense)">Edit</button>
                <button type="submit" class="btn btn-outline-danger m-1" (click)="deleteExpense(expense.idexpense)">Delete</button>
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="container">
      <h5 class="card-header">{{ selectedExpense ? 'Edit Expense' : 'Add Expense' }}</h5>
      <form [formGroup]="expenseForm" (ngSubmit)="selectedExpense ? updateExpense() : addExpenseAndAffect()">
        
        <div class="form-group">
          <label for="dateexpense">Date:</label>
          <input type="date" formControlName="dateexpense" class="form-control" id="dateexpense">
        </div>
        <div class="form-group">
          <label for="unitPrice">Unit Price:</label>
          <input type="number" formControlName="unitPrice" class="form-control" id="unitPrice">
          <div class="alert alert-danger" *ngIf="expenseForm.controls['unitPrice'].invalid && expenseForm.controls['unitPrice'].touched">
            <div *ngIf="expenseForm.controls['unitPrice'].hasError('required')"> Unit Price is required !</div>
          </div>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity:</label>
          <input type="number" formControlName="quantity" class="form-control" id="quantity">
          <div class="alert alert-danger" *ngIf="expenseForm.controls['quantity'].invalid && expenseForm.controls['quantity'].touched">
            <div *ngIf="expenseForm.controls['quantity'].hasError('required')"> Quantity is required !</div>
          </div>
        </div>
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" formControlName="amount" class="form-control" id="amount" readonly>
        </div>
        <div class="form-group">
          <label for="category">Category:</label>
          <input type="text" formControlName="category" class="form-control" id="category">
        </div>
        <div class="form-group">
          <label for="methodPayment">Method of Payment:</label>
          <select formControlName="methodPayment" class="form-control" id="methodPayment">
            <option value="CARD">Card</option>
            <option value="CASH">Cash</option>
          </select>
        </div>
        <div class="form-group">
          <label for="projectId">Project Name:</label>
          <select formControlName="projectId" class="form-control" id="projectId">
            <option *ngFor="let project of projects" [value]="project.idProject">{{ project.idProject }}</option>
          </select>
        </div>
        <div class="separator1"></div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="expenseForm.invalid">
            {{ selectedExpense ? 'Update Expense' : 'Add Expense' }}
          </button>
          <span class="mx-2"></span>
          <button type="button" class="btn btn-secondary" (click)="cancel()">Clear</button>
        </div>
      </form>
    </div>
  </div>
</div>
