<div class="row mt-3">
    <div class="col-md-12">
      <div class="card w-100">
        <div class="card-body p-4">
            <h5 class="card-header">Stock List</h5>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th>Name</th>
                <th>Quantity Available</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let stock of stocks">
                <td>{{stock.name}}</td>
                <td>{{stock.quantityAvailable}}</td>
                <td>
                  <button type="button" class="btn btn-outline-primary m-1" (click)="editStock(stock)">Edit</button>
                  <button type="button" class="btn btn-outline-danger m-1" (click)="deleteStock(stock.idstock)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-7">
      <div class="card w-100">
        <div class="card-body p-4">
            <h5 class="card-header">{{ selectedStock ? 'Edit Stock' : 'Add Stock' }}</h5>
          <form [formGroup]="stockForm" (ngSubmit)="selectedStock ? updateStock() : addStock()">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" id="name" class="form-control" formControlName="name">
            </div>
            <div class="alert alert-danger" *ngIf="stockForm.controls['name'].invalid && stockForm.controls['name'].touched">
              <div *ngIf="stockForm.controls['name'].hasError('required')"> Name is required !</div>
            </div>
            <div class="mb-3">
              <label for="quantityAvailable" class="form-label">Quantity Available:</label>
              <input type="number" id="quantityAvailable" class="form-control" formControlName="quantityAvailable">
            </div>
            <div class="alert alert-danger" *ngIf="stockForm.controls['quantityAvailable'].invalid && stockForm.controls['quantityAvailable'].touched">
              <div *ngIf="stockForm.controls['quantityAvailable'].hasError('required')"> Quantity Available is required !</div>
            </div>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary" [disabled]="!selectedStock && stockForm.invalid">{{selectedStock ? 'Update Stock' : 'Add Stock'}}</button>
              </div>
              <div class="col">
                <button type="button" class="btn btn-secondary" (click)="cancel()">Clear</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  