<!-- Sidebar Start -->
<aside class="left-sidebar" style="background-color: #f8f9fa; width: 250px; height: 100%; position: fixed; top: 0; left: 0; overflow-y: auto; z-index: 1000; box-shadow: 5px 0px 15px rgba(0.1, 0.1, 0.1, 0.1);">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between" >
        <a href="./index.html" class="text-nowrap logo-img">
          <img src="../assets/BackOffice/images/logos/Logoslim-removebg-preview.png" width="180" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse" >
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">Home</span>
          </li>
          <li class="sidebar-item">
            <a routerLink="/admin" class="sidebar-link" routerLink="/admin" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\Dash.png" height="20">
              </span>
              <span class="hide-menu">Dashboard</span>
              
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/admin/user" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\userc.png" height="20">
              </span>
              <span class="hide-menu">Employees</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link"  routerLink="/admin/teams" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\team2.png" height="20">
              </span>
              <span class="hide-menu" >Team</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\project.png" height="20">
              </span>
              <span class="hide-menu">Projects</span> 
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" href="./ui-forms.html" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\tasks.png" height="20">
              </span>
              <span class="hide-menu">Tasks</span>
            </a>
          </li>
        
          <li class="sidebar-item">
            <a routerLink="/admin/TimeOffTracker" class="sidebar-link"  aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\leave\LeaveIcon.png" height="20">
              </span>
              <span class="hide-menu">Time off Tracker</span>
              
            </a>
          </li>
         
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/admin/expense" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\expense.png" height="20">
              </span>
              <span class="hide-menu">Expenses</span>
            </a>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/admin/stock" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\stock.png" height="20">
              </span>
              <span class="hide-menu">Stocks</span>
            </a>
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/admin/rec" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\recruitment.png" height="20">
              </span>
              <span class="hide-menu">Recruitment</span>
            </a> 
            </li>


          <li class="sidebar-item">
            <a class="sidebar-link" href="./sample-page.html" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\performance.png" height="20">
              </span>
              <span class="hide-menu">Performance</span>
            </a>
          </li>
          <li class="nav-small-cap">
            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
            <span class="hide-menu">EXTRA</span>
          </li>
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="#" aria-expanded="false">
              <span>
                <img src="assets\BackOffice\images\icons\chat.png" height="20">
              </span>
              <span class="hide-menu">Chat</span>
            </a>
          </li>
          
          <li class="sidebar-item">
            <a class="sidebar-link" routerLink="/login" aria-expanded="false"  >
              <span>
                <img src="assets\BackOffice\images\icons\logout.png" height="20">
              </span>
              <span class="hide-menu" (click)="logout()">Logout</span>
            </a>
          </li>
          
        </ul>
       
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->
