
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div class="sidebar-contents">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <div class="mobile-show">
                            <div class="offcanvas-menu">
                                <div class="user-info align-center bg-theme text-center">
                                    <span class="lnr lnr-cross  text-white" id="mobile_btn_close">X</span>
                                    <a href="javascript:void(0)" class="d-block menu-style text-white">
                                        <div class="user-avatar d-inline-block mr-3">
                                            <img src="/assets/BackOffice/img/profiles/avatar-18.jpg" alt="user avatar" class="rounded-circle" width="50">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="sidebar-input">
                                <div class="top-nav-search">
                                    <form>
                                        <input type="text" class="form-control" placeholder="Search here">
                                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li class="active">
                                <a href="index.html"><img src="/assets/BackOffice/img/home.svg" alt="sidebar_img"> <span>Dashboard</span></a>
                            </li>
                            <li>
                                <a href="employee.html"><img src="assets/BackOffice/img/employee.svg" alt="sidebar_img"><span> Employees</span></a>
                            </li>
                            <li>
                                <a href="company.html"><img src="assets/BackOffice/img/company.svg" alt="sidebar_img"> <span> Company</span></a>
                            </li>
                            <li>
                                <a href="calendar.html"><img src="assets/BackOffice/img/calendar.svg" alt="sidebar_img"> <span>Calendar</span></a>
                            </li>
                            <li>
                                <a href="leave.html"><img src="assets/BackOffice/img/leave.svg" alt="sidebar_img"> <span>Leave</span></a>
                            </li>
                            <li>
                                <a href="review.html"><img src="assets/BackOffice/img/review.svg" alt="sidebar_img"><span>Review</span></a>
                            </li>
                            <li>
                                <a href="report.html"><img src="assets/BackOffice/img/report.svg" alt="sidebar_img"><span>Report</span></a>
                            </li>
                            <li>
                                <a href="manage.html"><img src="assets/BackOffice/img/manage.svg" alt="sidebar_img"> <span>Manage</span></a>
                            </li>
                            <li>
                                <a href="settings.html"><img src="assets/BackOffice/img/settings.svg" alt="sidebar_img"><span>Settings</span></a>
                            </li>
                            <li>
                                <a href="profile.html"><img src="assets/BackOffice/img/profile.svg" alt="sidebar_img"> <span>Profile</span></a>
                            </li>
                        </ul>
                        <ul class="logout">
                            <li>
                                <a href="profile.html"><img src="assets/BackOffice/img/logout.svg" alt="sidebar_img"><span>Log out</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        
        </div>
       

<script src="/assets/BackOffice/js/jquery-3.6.0.min.js"></script>

        <script src="/assets/BackOffice/js/popper.min.js"></script>

        <script src="/assets/BackOffice/js/bootstrap.min.js"></script>

        <script src="/assets/BackOffice/js/feather.min.js"></script>

        <script src="/assets/BackOffice/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="/assets/BackOffice/plugins/apexchart/apexcharts.min.js"></script>

        <script src="/assets/BackOffice/plugins/apexchart/chart-data.js"></script>

        <script src="/assets/BackOffice/js/script.js"></script>