<h1>Time Off Tracker List</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Employee</th>
            <th>Type Of Leave</th>
            <th>Description</th>
            <th>Form </th>
            <th>To</th>
            <th>Status </th>
        </tr>
    </thead>
    <tr *ngFor="let timeoff of timesOff">
          <td>{{timeoff.user.firstName }} {{timeoff.user.lastName }}</td>
          <td>{{timeoff.type}}</td>
          <td>{{timeoff.description}}</td>
          <td>{{timeoff.fromDate}}</td>
          <td>{{timeoff.toDate}}</td>
          <td>{{timeoff.status}}</td>

      

    </tr>

</table>