<div class="card">
  <div class="card-body">
    <div >
      <h1 style="text-align: center;">Time Off  List</h1>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Employee</th>
          <th>Type Of Leave</th>
          <th>Description</th>
          <th>From</th>
          <th>To</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timeoff of timesOff">
          <td class="action_label">{{timeoff.user.firstName }} {{timeoff.user.lastName }}</td>
          <td>{{timeoff.type}}</td>
          <td>{{timeoff.description}}</td>
          <td>{{timeoff.fromDate}}</td>
          <td>{{timeoff.toDate}}</td>
          <td>{{timeoff.status}}</td>
          <td>
            <button type="submit" class="btn btn-outline-success m-1" data-toggle="modal" data-target="#exampleModal" (click)="popUpModal()">Edit</button>
            <span class="button-space1"></span> 
            <button type="submit" class="btn btn-outline-danger m-1" (click)="deletetimeOff(timeoff.id)">Delete</button>
            
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
    </div>


    <style>
      .separator {
      height: 100px; }
      .separator1 {
      height: 10px; }
      .button-space {
      margin: 0 10px; } 
      .button-space1 {
      margin: 0 5px; 
    }
    .swal-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

    
    </style>



    <div class="separator"></div>
    <div class="card">
      <div class="card-body"> 
    <div class="container">
      <h1 style="text-align: center;">Take a Leave</h1>   
      <form [formGroup]="timeoffForm" (ngSubmit)="addTimeOff()">
        <div class="mb-3">
          <div class="form-group">

          <label for="type" class="form-label">Leave Type</label>
           <select id="type" class="form-select" formControlName="type">
            <option value="Casual">Casual</option>
            <option value="Compassionate">Compassionate</option>
            <option value="Medical">Medical </option>
            <option value="Maternity">Maternity</option>
            <option value="Unpaid">Unpaid</option>
            <option value="Other">Other</option>
          </select>
          </div>
        </div>
        <div class="alert alert-danger" *ngIf="this.timeoffForm.controls['type'].invalid && this.timeoffForm.controls['type'].touched">
          <div *ngIf="this.timeoffForm.controls['type'].hasError('required')"> Type is required !</div>
        </div>
        
      
        <div class="form-group">
          <label class="form-label"for="description">Description:</label>
          <input type="text" formControlName="description" class="form-control" id="description">
        </div>
        <div  *ngIf="this.timeoffForm.controls['description'].invalid && this.timeoffForm.controls['description'].touched">
          <div class="alert alert-danger"*ngIf="this.timeoffForm.controls['description'].hasError('required')"> Description is required !</div>
          <div class="alert alert-warning" *ngIf="this.timeoffForm.controls['description'].hasError('minlength')"> Length must be more then 5 letters ! </div>
          <div class="alert alert-primary " *ngIf="this.timeoffForm.controls['description'].hasError('maxlength')"> Length must be less then 20 letters ! </div>

        </div>
        
      
        <div class="form-group">
          <label class="form-label" for="Employee">Employee:</label>
          <select formControlName="user" class="form-control">
            <ng-container *ngFor="let user of users">
              <option [ngValue]="user">
                {{ user.firstName }} {{ user.lastName }}
              </option>
            </ng-container>
          </select>
        </div>
        <div class="alert alert-danger" *ngIf="this.timeoffForm.controls['user'].invalid && this.timeoffForm.controls['user'].touched">
          <div *ngIf="this.timeoffForm.controls['user'].hasError('required')"> Employee is required !</div>
        </div>

        <div class="form-group">
          <label class="form-label" for="fromDate">From Date:</label>
          <input type="date" formControlName="fromDate" class="form-control" id="fromDate">
        </div>
        <div  *ngIf="this.timeoffForm.controls['fromDate'].invalid && this.timeoffForm.controls['fromDate'].touched">
          <div class="alert alert-danger" *ngIf="this.timeoffForm.controls['fromDate'].hasError('required')"> Please specify the start of your leave!</div>
          <div class="alert alert-warning" *ngIf="this.timeoffForm.controls['fromDate'].hasError('dateGreaterThanToday')"> Please select a valid start date for your leave!</div>
        </div>
        
      
        <div class="form-group">
          <label class="form-label" for="toDate">To Date:</label>
          <input type="date" formControlName="toDate" class="form-control" id="toDate">
        </div>
        <div  *ngIf="this.timeoffForm.controls['toDate'].invalid && this.timeoffForm.controls['toDate'].touched">
          <div class="alert alert-danger" *ngIf="this.timeoffForm.controls['toDate'].hasError('required')">  Please specify when you will be back !</div>
          <div class="alert alert-warning" *ngIf="this.timeoffForm.controls['toDate'].hasError('toDateValidator')"> Please select a valid return date !</div>
        </div>
      
        <div class="separator1"></div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" >Add</button>
          <span class="button-space"></span>
          <button type="button" class="btn btn-secondary" (click)="cancel()">clear</button>
        </div>
      </form>
      
    </div>
    
    
  </div>
</div>



<!-- Large modal -->


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
       
      
      </div>
      <div class="modal-body">
        <form [formGroup]="timeoffForm" >
          <div class="mb-3">
            <div class="form-group">
  
            <label for="type" class="form-label">Leave Type</label>
             <select id="type" class="form-select" formControlName="type">
              <option value="Casual">Casual</option>
              <option value="Compassionate">Compassionate</option>
              <option value="Medical">Medical </option>
              <option value="Maternity">Maternity</option>
              <option value="Unpaid">Unpaid</option>
              <option value="Other">Other</option>
            </select>
            </div>

          </div>
          <div class="form-group">
            <label class="form-label" for="Employee">Employee:</label>
            <select formControlName="user" class="form-control">
              <ng-container *ngFor="let user of users">
                <option [ngValue]="user">
                  {{ user.firstName }} {{ user.lastName }}
                </option>
              </ng-container>
            </select>
          </div>
        
          <div class="form-group">
            <label class="form-label"for="description">Description:</label>
            <input type="text" formControlName="description" class="form-control" id="description">
          </div>
         
  
          <div class="form-group">
            <label class="form-label" for="fromDate">From Date:</label>
            <input type="date" formControlName="fromDate" class="form-control" id="fromDate">
          </div>
          
        
          <div class="form-group">
            <label class="form-label" for="toDate">To Date:</label>
            <input type="date" formControlName="toDate" class="form-control" id="toDate">
          </div>
         
        
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-outline-primary m-1" >Edit</button>
        <button type="button" class="btn btn-outline-secondary m-1" (click)="cancel()">Clear</button>
        <button type="button" class="btn btn-outline-danger m-1" data-dismiss="modal" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>

