
<div class="separator"></div>


<div class="container">
  <div class="text-center">
    <img src="/assets/FrontOffice/img/note.png" alt="Edit Icon" class="button-icon" />
      <h5 style="color:grey; display: inline-block; margin-right: 5px;"><b>This are your performance results i hope you are satisfied</b> </h5><i class="fas fa-exclamation-triangle" style="color: orange;"></i>
    </div>
    <div class="separator"></div>

  <div class="row justify-content-center">
    <ng-container *ngFor="let performance of performanceList; let i = index;">
      <div class="col-md-3 mb-4">
        <div class="card" [ngClass]="{'grey-text': isCurrentMonthAndYear(performance.week, performance.year)}">
          <div class="card-body">
            <h5 class="card-title">{{ performance.week }} / {{ performance.year }}</h5>
            <h6 class="card-subtitle mb-2 text-muted"></h6>
            <div class="star-rating">
              <span *ngFor="let star of getStars(performance.grade)" class="star" [ngClass]="{'checked': star === 'checked', 'half': star === 'half'}">&#9733;</span>
            </div>
            <p class="card-text"><b>Comment :</b>{{ performance.comment }}</p>
          </div>
        </div>
      </div>
      <!-- Close the row and start a new one after every fourth card -->
      <div *ngIf="(i + 1) % 4 === 0" class="w-100"></div>
    </ng-container>
  </div>
</div>


         
  <div class="separator"></div>
<div class="separator"></div>
<div class="separator"></div>
<div class="separator"></div>


          <style>
           .separator {
            height: 100px; }
          .star-rating {
          font-size: 24px;
        }
        
        .star {
  color: gray;
  display: inline-block;
}

.checked {
  color: gold;
}

.half {
  position: relative;
  display: inline-block;
}

.half:before {
  content: '\2605'; /* Unicode character for a solid star */
  position: absolute;
  overflow: hidden;
  width: 50%; /* Display half of the star */
  color: gold; /* Color of the half star */
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin-bottom: 20px; /* Adjust margin as needed */
}

.grey-text {
  background-color: grey;
}
.button-icon {
width: 40px; /* Adjust the width to your desired size */
height: auto; /* Maintain aspect ratio */
margin-right: 5px; /* Optional: Add margin for spacing */
}



          </style>