<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <h5 class="card-header">Reclamation List</h5>
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th>DATE</th>
            <th>DESCRIPTION</th>
            <th>TYPE</th>
            <th class="text-center align-middle">ACTION</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reclamation of reclamations">
            <td>{{ reclamation.datereclamation | date }}</td>
            <td>{{ reclamation.description }}</td>
            <td>{{ reclamation.typeReclamation }}</td>
            <td class="text-center align-middle">
              <ng-container *ngIf="!hasResponse(reclamation)">
                <button type="button" class="btn btn-lg btn-info" [routerLink]="['/admin/reponse', reclamation.idreclamation]">Answer</button>
              </ng-container>
              <button type="button" class="btn btn-success btn-lg" *ngIf="hasResponse(reclamation)" [routerLink]="['/admin/answred', reclamation.idreclamation]">
                Check Answer
              </button>
            </td>
          </tr>
          <tr *ngIf="reclamations.length === 0">
            <td colspan="4" class="text-center">No reclamations found.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
