
  .table-danger {
  background-color: #ffcccc; /* Rouge pour une importance élevée */
}

.table-warning {
  background-color: #ffffcc; /* Jaune pour une importance moyenne */
}

.table-success {
  background-color: #ccffcc; /* Vert pour une importance faible */
}

