<html>
        <body>
<link rel="shortcut icon" href="/assets/BackOffice/img/favicon.png">

<link rel="stylesheet" href="/assets/BackOffice/css/bootstrap.min.css">

<link rel="stylesheet" href="/assets/BackOffice/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="/assets/BackOffice/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="/assets/BackOffice/css/style.css">



<app-sidebar-back></app-sidebar-back>
<app-navbar-back></app-navbar-back>
<router-outlet></router-outlet>
<app-footer-back></app-footer-back>
   

<script src="/assets/BackOffice/js/jquery-3.6.0.min.js"></script>

        <script src="/assets/BackOffice/js/popper.min.js"></script>

        <script src="/assets/BackOffice/js/bootstrap.min.js"></script>

        <script src="/assets/BackOffice/js/feather.min.js"></script>

        <script src="/assets/BackOffice/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="/assets/BackOffice/plugins/apexchart/apexcharts.min.js"></script>

        <script src="/assets/BackOffice/plugins/apexchart/chart-data.js"></script>

        <script src="/assets/BackOffice/js/script.js"></script>
        </body>
        </html>
    