<app-header-front></app-header-front>

<div class="card mt-5 mb-5">
    <div class="mx-auto table-container">
        <h6 class="card-header">Expense List</h6>
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>PROJECT</th>
                        <th>AMOUNT</th>
                        <th>DATE</th>
                        <th>CATEGORY</th>
                        <th>ACTION</th> <!-- Ajout de la colonne ACTION -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let expense of expenses">
                        <td>{{expense.project ? expense.project.name : 'N/A'}}</td>
                        <td>{{expense.amount}}</td>
                        <td>{{expense.dateexpense | date }}</td>
                        <td>{{expense.category}}</td>
                        <td>
                            <!-- Ajout du bouton payexpense avec l'événement click -->
                            <button class="btn btn-primary" (click)="payExpense(expense)">Pay</button>
                            <!-- Ajout d'un espace entre les boutons en utilisant les marges CSS -->
                            <button type="button" class="btn btn-outline-info m-1" [routerLink]="['/Employee/reclamation', expense.idexpense]">claim</button>                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<app-header-front></app-header-front>
