<div class="container mt-3">
    <app-header-front></app-header-front>

    <div class="card mt-3">
        <div class="card-body">
            <h6 class="card-title">Expense List</h6>
            <div class="row">
                <ng-container *ngFor="let expense of expenses">
                    <div class="col-md-3 mb-3"> <!-- Réduit la taille des colonnes pour des cartes plus petites -->
                        <div class="card shadow-sm expense-card"> <!-- Utilise shadow-sm pour une ombre plus légère -->
                            <div class="card-body">
                                <h6 class="card-subtitle mb-2 text-muted">Project: {{ expense.project ? expense.project.name : 'N/A' }}</h6>
                                <p class="card-text">Amount: {{ expense.amount }}</p>
                                <p class="card-text">Date: {{ expense.dateexpense | date }}</p>
                                <p class="card-text">Category: {{ expense.category }}</p>
                                <p class="card-text">Method Payment: {{ expense.methodPayment }}</p>
                                <p class="card-text">Status Payment: {{ expense.statusPayment ? expense.statusPayment : 'N/A' }}</p>
                                <div class="d-flex justify-content-between align-items-center mt-3">
                                    <button class="btn btn-lg btn-success mr-2" (click)="payExpense(expense)">Pay</button> <!-- Utilise btn-lg pour agrandir le bouton -->
                                    <button type="button" class="btn btn-lg btn-warning" [routerLink]="['/Employee/reclamation', expense.idexpense]">Claim</button> <!-- Utilise btn-lg pour agrandir le bouton -->
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
